<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="stylesheet" href="/css/home.css">
        
    <link rel="stylesheet" href="/css/carrito.css">

    <script defer src="/javascrip/nav.js"></script>
   
    <script defer src="/javascrip/chatdeemergencia.js"></script>
   
    <link rel="shortcut icon" href="imagenes/carrito verde icon" type="image/x-icon"><!--le inserto una pequeña imagen a la etiqueta />-->
</head>
<body>
  
    <header class="header">

        <nav class="nav">
          <a href="home.ejs" class="logo nav-link">Home</a>
          <button class="nav-toggle" aria-label="Abrir menú">    <!--la amurguesa va en midia cueri-->
            <i class="fa fa-bars"></i>
          </button>
          <ul class="nav-menu">
            <li class="nav-menu-item">
              <a href="promociones.ejs" class="nav-menu-link nav-link">Promociones</a>
            </li>
            <li class="nav-menu-item">
              <a href="producto.ejs" class="nav-menu-link nav-link">Productos</a>
            </li>
          </ul>
        </nav>
          
   </header>
    
    <header class="ecavesadocompra">
    
        <div class="mediodepago">
    
          <div class="targeta">
            <img src="/imagenes/carrito/master.png" >
          </div>
    
          <div class="targeta">
            <img src="/imagenes/carrito/naranjatarjeta.jpeg" >
          </div>
    
          <div class="targeta">
            <img src="/imagenes/carrito/visa.png" >
          </div>
    
          <div class="targeta">
            <img src="/imagenes/carrito/mercadopago.png" >
          </div>
    
          <div class="targeta">
            <img src="/imagenes/carrito/plata.png" >
          </div>
    
         
         <button class="carrito">
            <img src="/imagenes/carrito/carrito-de-compras.png">
         </button>
    
        </div>
    
    </header> 
    
    
      <button class="open-botton" onclick="openForm()"><i class="bx bxs-chat"></i>¿Necesitas ayuda?</button>
        <div class="chat__popup" id="myfrom">
        <form action="#" class="form__cotainer">
          <h2>Chatea con nosotros</h2>
          <label for="msg"><b>Mensaje</b></label>
          <textarea name="msg" placeholder="Escribe tu mensaje aqui..." required></textarea>
          <button type="submit" class="btn">Enviar</button>
          <button type="reset"  class="btn" class="cancel" onclick="closeForm()">borrar</button>
        </form>
      </div>
      
      <main>
        <h2>Productos</h2>
       <ul>
            <li>
              <% productos.forEach(producto => { %>
              
              <div><%= producto.marca %></div>
              <div><%= producto.descripcion %></div>
              <div><%= producto.precio %></div>

              <div class="form-container">
                <a href="/<%=productos.id%>/edit">Modificar</a>
              </div> 
          
            </li>
           <%  }) %>
       </ul>
      </main>

     <br>
                  
      <div class="form-container">
        <a href="/create">Creación de un nuevo producto</a>
      </div>
    

      <%- include('../views/productos-nuevos') %>
    
</body>
</html>