<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marimar</title>
    <!-- <link rel="shortcut icon" href="imagenes/carrito verde icon" type="image/x-icon"> No encontró por espacios-->
    <link
      rel="shortcut icon"
      href="imagenes/carrito_verde.ico"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="imagenes/carrito verde icon.ico"
      type="image/x-icon"
    />
    <!--le inserto una pequeña imagen a la etiqueta />-->
  </head>

    <%-include('partials/navegador')%> 
    <%-include('partials/chat_emergencia')%>
    <%-include('partials/mediodepago') %>

    <main>
      <br>
      <h2>Productos</h2>
      <br>
      <div class="container-fluid mb-3">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% productos.forEach(producto=> { %>
          <div class="col">
            <!-- <img src="/imagenes/<%=producto.imagen%>" alt="<%= producto.marca %> <%= producto.descripcion %>"> -->
            <!--<img height="350" width="350" src="../imagenes/<%=producto.imagen%>" alt="<%= producto.marca %> <%= producto.descripcion %>"> -->
            <div class="card">
              <div class="col text-center">
              <img 
                height="350"
                width="330"
                src="../imagenes/<%=producto.imagen%>"
                alt="<%= producto.marca %> <%= producto.descripcion %>"
              />
            </div>
              <h4 class="col text-center"><%= producto.marca %> <%= producto.descripcion %></h4>
              <h5 class="col text-center">Precio: $<%= producto.precio %></h5>
              <br />
              <div class="container">
                <div class="row">
                  <div class="col text-center">
                    <a
                      class="btn btn-primary ms-2"
                      href="/<%=producto.id%>/edit"
                      >Editar</a
                    >
                  </div>
                  <div class="col text-center">
                    <a
                      class="btn btn-danger ms-2"
                      href="/<%=producto.id%>/delete"
                      >Eliminar</a
                    >
                  </div>
                </div>
              </div>
              <br />
            </div>
            <br /><br />
          </div>
          <% }) %>
        </div>
      </div>
    </main>

    <div class="form-container">
      <a class="btn btn-primary ms-2" href="/create">Crear Nuevo Producto</a>
    </div>

    <br>
    <%- include('../views/productos-nuevos.ejs') %>
    <br>
    <%-include('partials/pie_pagina') %>
  </body>
</html>
